{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Poppins&family=Open+Sans&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <title>YTTasks</title>
</head>
<body>
   <div class="form-container">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
            <h3>Create Account</h3>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %} id="alert">{{ message }}
            
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form action="{% url 'accounts:create_yttasker' %}" method="post">
            {% csrf_token %}
            <input type="email" placeholder="Email Address" name="email" id="email" required>
            <input type="password" placeholder="Password" name="password" id="password">
            <input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password">
            <input type="tel" placeholder="Enter Momo number" name="momo_number" id="momo_number">
            <button type="submit">Continue</button>
        </form>
        <small>Already have an account? <a href="{% url 'accounts:login_yttasker' %}">Login here</a></small>

       
   </div>
</body>
</html>